{% extends 'base.jinja2' %}

{% block navbar %}
<div class="navbar-search mt-3">
    <form method="POST" action="{{ url_for('search_results_redirection') }}">
        <fieldset class="form-group">
            <div class="row">
                <div class="col navbar-col mt-2">
                    <div class="d-inline">
                        {{ searchform.city(class="form-control", placeholder="Miasto") }}
                    </div>
                </div>
                <div class="col navbar-col mt-2">
                    <div class="d-inline" id="js-autocomplete">
                        {{ searchform.drugname(class="form-control", placeholder="Nazwa leku") }}
                    </div>
                </div>
                <div class="col ">
                    <div class="d-inline">
                        <button type="submit" class="btn btn-danger btn-search d-inline">Szukaj</button> 
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="search-results-container-padding mt-4">
    <div class="card">
    <h1 class="mt-2 mx-2">Koszyk</h1>
        {% if drugs %}
            <table class="table">
                <caption>Lista produktów w koszyku</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Lek</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Apteka</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                        {% for drug in drugs %}
                            <tr class="tr-cart">
                                <td><b>{{ drug[0].druginfo.name.capitalize()}}</b> ilość: {{ drug[0].druginfo.size }} {% if drug[0].druginfo.form == 'tabs' %} tabletek, {% endif %} moc: {{ drug[0].druginfo.power }} {{ drug[0].druginfo.unit }}</td>
                                <td>
                                    <form action="/cart_reduce" method="post" class="d-inline">
                                        <input name="id" type="hidden" value="{{ drug[0]['id'] }}">
                                        <input class="btn btn-outline-danger btn-sm" type="submit" value="-">
                                    </form>
                                    {{ drug[1] }}
                                    <form action="/cart_increase" method="post" class="d-inline">
                                        <input name="id" type="hidden" value="{{ drug[0]['id'] }}">
                                        <input class="btn btn-outline-danger btn-sm" type="submit" value="+">
                                    </form>
                                </td>
                                <td>{{ "{:.2f}".format(drug[0].price) }} zł</td>
                                <td>{{ drug[0].pharmacies.name }}</td>
                                <td>
                                    <form action="/cart_remove" method="post" class="d-inline">
                                        <input name="id" type="hidden" value="{{ drug[0]['id'] }}">
                                        <input class="btn btn-outline-danger btn-sm" type="submit" value="x">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div class="mt-5 mx-2 mb-2">
                <h4>Wartość koszyka: {{ "{:.2f}".format(sum) }} zł</h4>
            </div>
            <button class="btn btn-danger mx-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false" aria-controls="#">Zarezerwuj</button>
            <div class="collapse" id="collapseForm">
                <div class="card card-body mt-3">
                    <h5 class="card-title">Wprowadź dane</h5>
                    <form method="POST" action="{{ url_for('order.add_cart_orders') }}">
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.name.label(class="form-control-label")}}
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.surname.label(class="form-control-label")}}
                                {% if form.surname.errors %}
                                    {{ form.surname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.surname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.surname(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label")}}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.phone.label(class="form-control-label")}}
                                {% if form.phone.errors %}
                                    {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.phone.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.phone(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.address.label(class="form-control-label")}}
                                {% if form.address.errors %}
                                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.address.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.address(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>
                            <div class="form-check">
                                {{ form.prescription(class="form-check-input") }}
                                {{ form.prescription.label(class="form-check-label") }}
                            </div>
                            <div class="form-check">
                                {{ form.rodo(class="form-check-input") }}
                                {{ form.rodo.label(class="form-check-label") }}
                            </div>
                            <div class="ms-4">
                                <a href="{{ url_for('rodo') }}" target="_blank">Informacja o przetwarzaniu danych osobowych</a>
                            </div>
                            <input name="sum" type="hidden" value="{{ sum }}">
                        </fieldset>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                            {{ form.submit(class="btn btn-outline-danger") }} 
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-danger mx-2 mb-2 " type="button">Zarezerwuj i opłać</button>
        {% else %}
            <h2 class="mt-2 mx-2">Twój koszyk jest pusty</h2>
            <a href="{{ url_for('home') }}" class="btn btn-danger my-3 mx-2">Przejdź do strony głównej</a>
        {% endif %}
    </div>
</div>
{% endblock %}