{% extends 'base.jinja2' %}

{% block content %}
        <div class="search-results-container-padding mt-4">
            <div class="simple-text-bg px-3 py-3">
                <h1 class="mx-3 my-3">Informacja o przetwarzaniu danych osobowych</h1>
                <p class="mx-3">Zgodnie z art. 13 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) "RODO" informujemy, że:</p>
                <ol>
                    <li>
                        <p>Administratorem Pani/Pana danych osobowych jest Politechnika Białostocka, ul. Wiejska 45A, 15-351 Białystok, tel.: 85 746 90 00, pb.edu.pl (dalej Uczelnia).</p>
                    </li>
                    <li>Administrator, zgodnie z art. 37 ust. 1 lit. a) RODO, powołał Inspektora Ochrony Danych, z którym w sprawach związanych z przetwarzaniem danych osobowych, może się Pani/Pan kontaktować za pomocą poczty elektronicznej pod adresem: iod@pb.edu.pl.</li>
                    <li>Pani/Pana dane osobowe przetwarzane będą w celu:
                        – rekrutacji do projektu „ZIREG – Zintegrowany Program Politechniki Białostockiej na rzecz Rozwoju Regionalnego” – na podstawie art.6 ust.1 lit e RODO.</li>
                    <li>Odbiorcami Pani/Pana danych osobowych mogą być dostawcy usług internetowych administratora, obsługa prawa administratora oraz inne podmioty uprawnione na podstawie przepisów prawa.</li>
                    <li>Pani/Pana dane osobowe będą przechowywane przez okres niezbędny do realizacji wyżej określonych celów, w szczególności przez okres wynikający z przepisów prawa, zgodnie z przepisami dotyczącymi archiwizacji.</li>
                    <li>Przysługuje Pani/Panu prawo dostępu do treści swoich danych, oraz z zastrzeżeniem przepisów prawa przysługuje Pani/Panu prawo do:</li>
                    <ul class="circle-list">
                        <li>sprostowania danyc,</li>
                        <li>usunięcia danych,</li>
                        <li>ograniczenia przetwarzania danych,</li>
                        <li>przenoszenia danych,</li>
                        <li>wniesienia sprzeciwu wobec przetwarzania danych osobowych.</li>
                    </ul>
                    <li>Przysługuje Pani/Panu wniesienie skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych, gdy uzna Pani/Pan, że przetwarzanie danych osobowych narusza powszechnie obowiązujące przepisy w tym zakresie.</li>
                    <li>Podanie przez Panią/Pana danych osobowych jest dobrowolne, jednakże jest niezbędne do wzięcia udziału w rekrutacji do projektu. Konsekwencją niepodania danych osobowych jest brak możliwości wzięcia udziału w rekrutacji w w/w projekcie.</li>
                    <li>Pani/Pana dane osobowe nie będą wykorzystywane do zautomatyzowanego podejmowania decyzji ani profilowania, o którym mowa w art. 22 rozporządzenia.</li>
                </ol>
            </div>
        </div>
{% endblock %}