.start{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background{
    top: -200px;
    background-image: url(../static/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.my-footer{
    background-color: #3c4145;
    color: #FFF;
    padding-bottom: 1.5rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

.inline-element{
    display: inline-block;
}

.btn-footer {
    float: right
}